.fe-664264186df8c654081ebdaa {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(15,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
  overflow-x: hidden;
  overflow-x: clip;
}

@media (min-width: 768px) {
  .background-width--inset .fe-664264186df8c654081ebdaa {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-664264186df8c654081ebdaa {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(5,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-b766b22c439c884a1940 {
    grid-area: 2/2/4/10;
    z-index: 0;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-b766b22c439c884a1940 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-b766b22c439c884a1940 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-b766b22c439c884a1940 {
      grid-area: 2/2/6/4;
      z-index: 0;

      

      
    }

    .fe-block-b766b22c439c884a1940 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-b766b22c439c884a1940 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-fec68734b8c1d04e0bb1 {
    grid-area: 4/2/6/10;
    z-index: 1;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-fec68734b8c1d04e0bb1 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-fec68734b8c1d04e0bb1 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-fec68734b8c1d04e0bb1 {
      grid-area: 2/4/6/6;
      z-index: 1;

      

      
    }

    .fe-block-fec68734b8c1d04e0bb1 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-fec68734b8c1d04e0bb1 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-yui_3_17_2_1_1715626667043_24566 {
    grid-area: 6/2/12/10;
    z-index: 3;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1715626667043_24566 .sqs-block {
    justify-content: center;
  }

  .fe-block-yui_3_17_2_1_1715626667043_24566 .sqs-block-alignment-wrapper {
    align-items: center;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1715626667043_24566 {
      grid-area: 2/10/6/18;
      z-index: 3;

      
        
      

      
    }

    .fe-block-yui_3_17_2_1_1715626667043_24566 .sqs-block {
      justify-content: center;
    }

    .fe-block-yui_3_17_2_1_1715626667043_24566 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

  .fe-block-ccc27477e75f4d3f2b34 {
    grid-area: 12/2/14/10;
    z-index: 2;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-ccc27477e75f4d3f2b34 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-ccc27477e75f4d3f2b34 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-ccc27477e75f4d3f2b34 {
      grid-area: 2/22/3/26;
      z-index: 2;

      

      
    }

    .fe-block-ccc27477e75f4d3f2b34 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-ccc27477e75f4d3f2b34 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  .fe-block-yui_3_17_2_1_1715626667043_26337 {
    grid-area: 14/2/16/10;
    z-index: 4;

    @media (max-width: 767px) {
      
        
      
      
    }
  }

  .fe-block-yui_3_17_2_1_1715626667043_26337 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-yui_3_17_2_1_1715626667043_26337 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-yui_3_17_2_1_1715626667043_26337 {
      grid-area: 3/22/6/26;
      z-index: 4;

      
        
      

      
    }

    .fe-block-yui_3_17_2_1_1715626667043_26337 .sqs-block {
      justify-content: flex-start;
    }

    .fe-block-yui_3_17_2_1_1715626667043_26337 .sqs-block-alignment-wrapper {
      align-items: flex-start;
    }
  }

  #block-yui_3_17_2_1_1715626667043_24566 {
    --image-component-focal-point: 50% 50%;    
    --image-component-object-fit: contain;
    --image-component-overlay-opacity: 0;
    --image-component-overlay-blend-mode: normal;
  
    --image-component-native-aspect-ratio: 1123/120;
  }
  #block-yui_3_17_2_1_1715626667043_24566 .fluid-image-container.visitor-mode {
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    clip-path: none;
    -webkit-clip-path: none;
  }
  #block-yui_3_17_2_1_1715626667043_24566 .js-content-mode-element-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
  }
  #block-yui_3_17_2_1_1715626667043_24566 .js-content-mode-element-system_desktop {
    display: block;
  }